.container {
    min-height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backdrop, .backdrop:before {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.backdrop:before {
    content: "";
    background: rgba(10,10,10, 0.8);
}

.backdrop {
    background-size: cover;
    filter: brightness(60%)
}

.statusbar {
    display: flex;
    justify-content: space-between;
    color: white;
}

.statusbar .title {
    font-family: var(--Font-title);
    font-weight: bolder;
    font-size: 1.5vw;
    padding: 1vw;
}

.statusbar div {
    padding: 2vh 2vw 0 2vw;
}

