*[class*=synopsis] {
    position: relative;
    padding: 5px 4vw 10vh;
    font-family: var(--Font-normal);
    font-size: 2vmin;
    flex: 2;
    line-height: 5vmin;
}

.moreButton {
    color: #888;
    margin-left: auto;
    padding-right: 40vw;
}

.more {
    flex: 1 1 auto;
    overflow: hidden;
    min-height: 10vh;
    width: calc(100% - 40vw);
    -webkit-mask-image: linear-gradient(transparent, white 10px, white calc(90% - 10vh), transparent 90%);

    transition: all 250ms ease-in-out;

    &.expanded {
        flex: 1 0 auto;
        -webkit-mask-image: linear-gradient(transparent, white 10px, white calc (100% - 1px), transparent 100%);
    }
}


